.legends{
    color: white;
    display: flex;
    font-size: 1.2em;
    height: 10%;
    gap: 20px;
    flex-direction: row-reverse;
    padding-right: 25px;
}

.key{
    align-items: center;
    display: flex;
}


.sq{
    display: inline-block;
    height: 20px;
    margin: 0 10px;
    width: 20px;
}

.compare{
    background-color: #ffff50;
}

.swap {
    background-color: red;
}

.sorted{
    background-color: #4bc52e;
}

@media(max-width: 564px){
    .legends{
        font-size: 0.8em;
        text-align: center;
        flex-direction: row;
        height: 2rem;
        width: 100%;
    }
}